.game-layout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 50% 30%;
}

.topic-table {
    width: 80%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(3,117,154);
    border-radius: 5px;
}

.topic-header {
    margin-bottom: 0.9em;
}

.topic-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.topic-row:nth-child(even) {
    background-color: rgba(3, 116, 154, 0.185);
}

.topic-word {
    width: 25%;
    font-family: 'Helvetica';
    font-size: 1.25rem;
    color: rgb(3,117,154);
}


.game-word-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.ordered-player-list-container {
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    margin: 2rem;
    border: 3px solid rgb(3,117,154);
    border-radius: 5px;
}

.ordered-player-list {
    list-style-type: none;
    text-align: left;
    padding: 2rem;
    margin: 0;
    font-size: 1.5rem;
    color: rgb(3,117,154);
}

.player-item {
    display: grid;
    grid-template-columns: 13ch auto;
    align-items: center;
}

.turn-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    font-style: italic;
    font-size: 1rem;
}

.word-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    font-weight: bold;
    font-size: 1rem;
}

.vote-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    font-style: italic;
    font-size: 1rem;
    justify-self: end;
}

.word-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.word-input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 7rem;
    font-family: 'Helvetica';
    color: rgb(3,117,154);
    text-align: center;
}

.word-input:focus {
    outline:0;
}

.word-submit {
    background-color: transparent;
    border: none;
}


.vote-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.votable-item {
    padding: 0.1rem 0.35rem;
    margin: 0.2rem
}

.votable-item:hover {
    cursor: pointer;
    background-color: rgba(3, 116, 154, 0.5);
}

.end-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.end-lose {
    margin-bottom: 0;
}